/* saidbar-section */

.sidebar {
  padding-top: 40px;
  padding-bottom: 40px;
  background: var(--bg-darck-blue);
  color: var(--white-color-txt);
}
/* container-flex-asidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social > .list {
  list-style: none;
  display: flex;

  justify-content: center;
}
.social .list.social-list {
  margin-left: 0;
}
.social-icon:not(:last-child) {
  margin-right: 20px;
}

/* social-icon-svg */

.social-icon ::before {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background: var(--bg-icon-link);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.social-icon .git-link::before {
  background-image: url(../image/git.svg);
}
.social-icon .fasebook-link::before {
  background-image: url(../image/facebook\ 1.svg);
}
.social-icon .linkedinl-link::before {
  background-image: url(../image/linkedin\ 1.svg);
}
.social-icon .instagram-link::before {
  background-image: url(../image/instagram\ 2.svg);
}

/* .social-icon .link::before {
  content: '';
} */

.sidebar .section {
  margin-left: 40px;
  margin-right: 40px;
}
.sidebar .list {
  margin-left: 20px;
}

/* sidebar-title */
.sidebar .title {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 700;
}
/* image-profil */
.portrait {
  margin-bottom: 50px;
}

/* section-nav-contackts */
.section .contact-list {
  margin-left: 0;
  margin-bottom: 50px;
  list-style: none;
}
.contact-list .link {
  opacity: 0.5;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
}

/* icon-link-contacts */
.contact-list .link::before {
  content: '';
  display: inline-flex;
  width: 14px;
  height: 14px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.link-phone::before {
  background-image: url(../image/tel.svg);
}

.link-mail::before {
  background-image: url(../image/mail.svg);
}
/* hover-focus-link-contacts */

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--acent-color-txt);
  opacity: 1;
  transition: 0.3s linear;
}

/* skil-section-asidebar */
.skil-section {
  margin-bottom: 50px;
}

.list-acent {
  color: var(--acent-color-txt);
}
.list-acent .list-text {
  color: var(--white-color-txt);
}

/* main-block-page */
.title-blocks {
  margin-bottom: 20px;
}

/* hero-container-main-block */
.hero {
  padding: 110px 90px 110px 90px;
  display: flex;
  flex-direction: column;
}
.hero .list {
  margin-left: 20px;
}
/* information-block-position-name */
.information {
  width: 400px;
  margin-bottom: 60px;
}
.profession {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 30px;
  color: var(--acent-color-txt);
}
.name {
  font-size: 45px;
  margin-bottom: 30px;
}

/* project-block */
.project {
  margin-bottom: 50px;
}
.project .list {
}
.list-number {
  font-weight: 700;
}
/* work-experiens-block */
.experience {
  margin-bottom: 50px;
}
.experience .list:not(:last-child) {
  margin-bottom: 24px;
}

/* text-page-block-main */
.text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  color: var(--grey-color-txt);
}

/* education-block */

.title-university {
  margin-bottom: 15px;
  text-transform: uppercase;
  color: var(--grey-color-txt);
}

/* duration-years-text-block-works */
.duration {
  margin-top: 14px;
  margin-bottom: 14px;

  font-size: 12px;
  opacity: 0.3;
}
.duration:last-child {
  margin-bottom: 0;
}
/* OUTLINE-SETTIMEOUT-BLOCK */
/* OUTLINE-SETTIMEOUT-BLOCK */
.contact-list,
.skil-section {
  /* outline: 2px solid aqua; */
}
.hero {
  /* outline: 2px solid aqua; */
}
.information,
.project,
.experience,
.education {
  /* outline: 2px solid aqua; */
}
.section {
  /* outline: 2px solid aqua; */
}
/* OUTLINE-SETTIMEOUT-BLOCK */
/* OUTLINE-SETTIMEOUT-BLOCK */
